@{
    ViewData["Title"] = "Home Page";
}
<body>
<div class="text-center">
    <h1 class="display-4">TOP 3 ALIENS FODAS</h1>
    <p>Simplesmente insano. <a href="https://www.instagram.com/j.m/">Segredo Gigatonico</a>.</p>
</div>

<div class="w3-content w3-display-container">
        <img class="mySlides" src="https://pm1.aminoapps.com/6485/b4557e4fe62de700ba19e18581124ffc6fedcde7_hq.jpg">
        <img class="mySlides" src="https://pm1.aminoapps.com/6485/29b8427b12758bdba44d233afeb2d2d28d632ecc_hq.jpg">
        <img class="mySlides" src="https://img.freepik.com/fotos-premium/mao-apontando-para-voce_46370-103.jpg" />
<button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
<button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>

</div>

<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }
</script>

</body>
